.status {
    font-size: 0.9rem;
    background: linear-gradient(to right, #3a4660, #7A9D96);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
}